@charset "UTF-8";
* {
	font-family: Arial, sans-serif;
}

body {
	font-size: 100%;
	color: #333333;
	background-color: #D1D1D1;
	margin: 0;
	padding: 0;
}

#headerPrincipale {
	padding: 0.6em 0.6em 1.25em;
	background-color: #2f2f2f;
	min-height: 2.2em;
}

.headerContainer {
	width: 100%;
}

.logo {
	display: inline;
	float: left;
	padding-top: 0.125em;
}

.logo a {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-size: 1.8em;
	padding: 0.3em 0.75em;
	border: 0.125em dotted gray;
	border-radius: 0.6em;
}

.navLinks {
	list-style-type: none;
	float: left;
	padding-right: 0.6em;
	padding-bottom: 0.9em;
}

.navLinks li {
	float: left;
	margin-right: 0.9em;
}

.navLinks a {
	text-decoration: none;
	color: white;
}

.navLinks a:hover {
	text-decoration: underline;
	color: black;
	background-color: white;
}

.ricerca {
	padding-top: 0.56em;
	float: left;
}

.ricerca #barraDiRicerca {
	height: 1.6em;
	max-width: 15em;
	border-radius: 0.3em;
}

.ricerca #pulsanteRicerca {
	height: 1.9em;
	width: 4em;
	border-radius: 0.3em;
}

.userArea {
	float: right;
	padding-right: 0.6em;
	padding-top: 0.9em;
	color: white;
}

.userArea li {
	float: right;
}

.userArea a {
	text-decoration: none;
	margin-left: 0.75em;
	color: white;
}

.userArea a:hover {
	text-decoration: underline;
	color: black;
	background-color: white;
}

hr {
	clear: both;
}

@media screen and (max-width: 936px) {
	.logo{
		display: block;
		float: none;
		clear: both;
		text-align: center;
		padding-bottom : 0.8em;
	}
	
	#headerPrincipale {
		padding-bottom: 2.2em;
		background-color: #2f2f2f;
		min-height: 4em;
	}
	
	.navLinks {
		padding-left: 0.2em;
	}
	
	.userArea {
		padding-right: 0.2em;
	}
}

@media screen and (max-width: 610px) {
	.ricerca {
		display: none;
	}
}