@charset "UTF-8";

* {
	font-family: Arial, sans-serif;
}

body {
	font-size: 100%;
	color: #333333;
	background-color: #D1D1D1;
	margin: 0;
	padding: 0;
}

a {
	color: #333333;
}

a:hover {
	color: white;
	background-color: #333333;
	text-decoration: none;
}

/* Sezione immagine prodotti */

.immagineProdotto img{
	max-height: 250px;
	max-width: 100%;
	height: auto;
	width: auto;
	border: 3px dashed gray;
}

/* Sezione home */
#benvenuto {
	clear: both;
	text-align: center;
	background-color: white;
	border: 3px dashed gray;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 30%;
}

#bestSellers #benvenuto {
	padding-left: 20px;
}

#bestSellers .contenitoreProdotto {
	width: 100%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	border-bottom: 3px dotted #333333;
	border-radius: 2px;
	position: relative;
}

#bestSellers .informazioniProdotto {
	position: absolute;
	right: 0;
	top: 0;
	background-color: white;
	border: 3px dashed gray;
	width: 30%;
	text-align: center;
}

#sezioneCategorie, #bestSellers {
	width: 60%;
}

#sezioneCategorie ul {
	list-style-image: url('../images/ChiaveSol.png');
}

#sezioneCategorie ul li {
	line-height: 2em;
	margin-bottom:10px;
}

#sezioneCategorie hr {
	clear: none;
}

#sezioneCategorie a {
	font-size: 1.25em;
	margin: 10px;
}

#prodottiEvidenziati {
	position: absolute;
	right: 0;
	width: 20%;
	text-align: center;
	margin: 0 1% 20px 0;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	border: 3px dashed gray;
}

#prodottiEvidenziati h2 {
	padding: 10px;
}

#prodottiEvidenziati a {
	font-size: 1.2em;
	text-decoration: none;
}

#prodottiEvidenziati p {
	font-size: 1.2em;
	line-height: 0.5em;
}

@media screen and (max-width: 1200px){
	#prodottiEvidenziati h2 {
		font-size: 1.2em;
	}
	
	#benvenuto {
		width:60%;
	}
	
	#prodottiEvidenziati .immagineProdotto img {
		max-height: 100px;
		max-width: 100px;
	}
	
	#bestSellers .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	#bestSellers .informazioniProdotto {
		width: 40%;
		padding-right: 10px;
	}
}

@media screen and (max-width: 480px){
	#prodottiEvidenziati .immagineProdotto img {
		max-height: 75px;
		max-width: 75px;
	}
	
	#bestSellers .immagineProdotto img {
		max-height: 100px;
		max-width: 100px;
	}
}

/* Sezione catalogo */

#sezioneFiltriCatalog {
	position: fixed;
	top: 20%;
	right: 1%;
	background-color: white;
	border: 3px dashed gray;
	padding: 1%;
	padding-right: 0;
	width: 25%;
	min-width: 200px; /* Per non farla diventare troppo piccola */
}

#sezioneFiltriCatalog #barraDiRicerca, #sezioneFiltriCatalog select {
	margin-bottom: 10px;
	padding: 5px;
}

#sezioneFiltriCatalog #barraDiRicerca {
	width: 87%; 
}

#sezioneFiltriCatalog select {
	width: 90%
}

#sezioneFiltriCatalog label {
	display: block;
	margin-top: 10px;
	width: 90%;
}

#sezioneFiltriCatalog #prezzoFiltro {
	width: 75%;
	margin-top: 15px;
}

#sezioneFiltriCatalog #prezzoFiltroVisual {
	display: inline-block;
	width: 15%;
	font-weight: bold;
}

#sezioneFiltriCatalog button {
	width: 90%;
	margin-top: 20px;
	padding: 10px 0;
}

/* Sezione contenitore prodotti catalogo */

.contenitoreProdottoCatalogo {
	width: 60%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	border-bottom: 3px solid gray;
	position: relative;
}

.contenitoreProdottoCatalogo .informazioniProdotto {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	border: 3px dashed gray;
	width: 30%;
	text-align: center;
}

.contenitoreProdottoCatalogo .immagineProdotto {
	padding-left: 20px;
}

@media screen and (max-width: 1200px){
	
	.contenitoreProdottoCatalogo {
		height: 200px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	.contenitoreProdottoCatalogo .informazioniProdotto {
		width:40%;
		padding-right: 10px;
	}
	
	#sezioneFiltriCatalog #prezzoFiltro {
		width: 60%;
		margin-top: 15px;
	}

	#sezioneFiltriCatalog #prezzoFiltroVisual {
		display: inline-block;
		width: 10%;
		font-weight: bold;
	}
}

@media screen and (max-width: 600px){
	
	.contenitoreProdottoCatalogo {
		height: 150px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 125px;
		max-width: 125px;
	}
	
	#sezioneFiltriCatalog {
		position: static;
		width: 90%;
		margin: 5%;
	}
	
	.contenitoreProdottoCatalogo {
		width: 90%;
		margin: 5%;
	}
}

/* Sezione Pagina Prodotto */

#schedaProdotto {
	width: 50%;
	background-color: white;
	border: 3px dashed gray;
	margin: 20px;
	overflow: hidden;
}

#schedaProdotto .immagineProdotto {
	float: left;
	width: 30%;
	padding: 20px;
}

#schedaProdotto .informazioniProdotto {
	float: left;
	width: 60%;
	padding: 20px;
}

/* Sezione funzionalità prodotto */

#sezioneFunzionalità {
	clear: both;
	width: 50%;
	margin: 20px;
}

#sezioneFunzionalità button {
	width: 200px;
	height: 50px;
	display: block;
	margin-bottom: 10px;
}

#sezioneConsulenza {
	background-color: white;
	width: 95%;
	padding: 10px;
	border: 3px dashed gray;
	margin: 20px;
}

#sezioneConsulenza textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#sezioneConsulenza button {
	width: 10%;
	margin-top: 10px;
	display: block;
}

#sezioneRecensioni {
	width: 95%;
	margin: 20px;
	clear: both;
}

#sezioneRecensioni .recensione {
	margin-top: 30px;
}

#sezioneRecensioni .bodyRecensione {
	border: 2px solid gray;
	padding: 10px;
}

#scriviRecensione {
	background-color: white;
	width: 95%;
	padding: 10px;
	margin-top: 30px;
	border: 3px dashed gray;
}

#scriviRecensione textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#scriviRecensione button {
	width: 10%;
	margin-top: 10px;
	display: block;
}

.recensione {
	background-color: white;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 3px dashed gray;
}

@media screen and (max-width: 768px) {

	#schedaProdotto {
		width: 95%;
	}

	#schedaProdotto .immagineProdotto, #schedaProdotto .informazioniProdotto {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	#sezioneConsulenza {
		width: 95%;
	}

	#sezioneFunzionalità {
		width: 95%;
	}
	
	#sezioneRecensioni {
		width: 95%;;
	}

}

