@charset "UTF-8";

/* Sezione header */

#headerPrincipale {
    background-color: #F57F3C;
    font-size: 1.2em;
    min-height: 95px;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.logo {
    float: left;
    padding: 15px;
}

.logo img {
    width: 250px;
    max-height: 70px;
    background-color: white;
    border: 3px ridge black;
    border-radius: 20px;
    display: inline-block;
}

.logo a:hover {
	text-decoration: none;
	color: black;
}

.navLinks {
	float: left;
	list-style-type: none;
	width: 300px;
	margin: 0;
}

.navLinks li {
	float: left;
	margin: 0 5px;
	padding-top: 35px;
}

.navLinks a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

.navLinks a:hover, .userArea a:hover {
	text-decoration: none;
	background-color: #F9B08A;
	color: white;
}

.ricerca {
	float: left;
	width: 400px;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: left;
	margin-left: 10px;
}

.ricerca #barraDiRicerca {
	height: 25px;
	width: 70%;
}

.ricerca #pulsanteRicerca {
	width: 35px;
	height: 35px;
	padding: 5px;
}

.userArea {
	float: right;
	width: 500px;
	text-align: right;
	padding: 35px 20px 0 0;
}

.userArea li {
	float: left;
	margin: 5px;
}

.userArea a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

hr {
	clear: both;
}

#footerContainer {
	margin-left: 20px;
}

#footerCR {
	text-align: center;
}

@media screen and (max-width: 1650px) {
	.logo{
		display: block;
		float: none;
		clear: both;
		text-align: center;
		width: 100%;
		padding: 5px 0;
	}
	
	#headerPrincipale {
		height: 130px;
	}
	
	.navLinks li, .userArea{
		padding-top: 10px;
	}
	
	.navLinks {
		width: 300px;
		padding-left : 10px;
	}
	
	.ricerca {
		width: 300px;
		padding-top: 0px;
		margin-top: 0px;
	}
	
	.userArea {
		width: 500px;
		padding-right: 10px;
	}
	
	.userArea, .navLinks {
		font-size: smaller;
	}
}

@media screen and (max-width: 1250px) {
	.ricerca {
		display: none;
	}
	
	.userArea {
		width: 60%;
	}
	
	.navLinks {
		width: 30%;
	}
	
}

@media screen and (max-width: 1000px) {
	.userArea {
		width: 95%;
		float: none;
		margin: 0 auto;
		padding-right: 0;
		text-align: center;
	}

	.navLinks {
		display: none;
	}
	
	.userArea li {
		float: none;
		margin: 5px 10px;
		display: inline-block;
	}
	
}

/* Sezione principale */

* {
	font-family: Arial, sans-serif;
}

body {
	font-size: 100%;
	color: #2A2A2A;
	background-color: #fce7d9;
	margin: 0;
	padding: 0;
}

a {
	color: #2A2A2A;
}

a:hover {
	text-decoration: underline;
	color: gray;
}

/* Sezione immagine prodotti */

.immagineProdotto img{
	max-height: 250px;
	max-width: 100%;
	height: auto;
	width: auto;
	border: 6px dashed #FFA15C;
}

.contenitore {
	border: 4px solid #FFA15C;
	background-color: white;
	border-radius: 10px;
	overflow: auto;
}

/* Sezione home */

#benvenuto {
	clear: both;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 40%;
	padding: 10px;
}

#bestSellers .contenitoreProdotto {
	width: 100%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	position: relative;
}

#bestSellers .informazioniProdotto {
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	text-align: center;
}

#sezioneCategorie, #bestSellers {
	width: 60%;
	margin-left: 20px;
}

#sezioneCategorie ul {
	list-style-image: url('../images/ChiaveSol.png');
}

#sezioneCategorie ul li {
	line-height: 2em;
	margin-bottom:10px;
}

#sezioneCategorie hr {
	clear: none;
}

#sezioneCategorie a {
	font-size: 1.25em;
	margin: 10px;
}

#prodottiEvidenziati {
	position: absolute;
	right: 0;
	width: 20%;
	text-align: center;
	margin: 0 1% 20px 0;
	padding: 10px;
}

#prodottiEvidenziati .immagineProdotto {
	margin-bottom: 10px;
}

#prodottiEvidenziati h2 {
	padding: 10px;
}

#prodottiEvidenziati a {
	font-size: 1.2em;
	font-weight: bold;
}

#prodottiEvidenziati p {
	font-size: 1.2em;
	line-height: 0.5em;
}

@media screen and (max-width: 1200px){
	#prodottiEvidenziati h2 {
		font-size: 1.2em;
	}
	
	#benvenuto {
		width:60%;
	}
	
	#prodottiEvidenziati .immagineProdotto img {
		max-height: 100px;
		max-width: 100px;
	}
	
	#bestSellers .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	#bestSellers .informazioniProdotto {
		width: 40%;
		padding-right: 10px;
	}
}

@media screen and (max-width: 800px){
	
	#benvenuto {
		width: 90%;
	}
	
	#prodottiEvidenziati {
		display: none;
	}
	
	#bestSellers, #sezioneCategorie {
		width: 90%;
	}
}

/* Sezione catalogo */

#sezioneFiltriCatalog {
	position: fixed;
	top: 20%;
	right: 1%;
	padding: 1%;
	padding-right: 0;
	width: 25%;
	min-width: 200px; /* Per non farla diventare troppo piccola */
}

#sezioneFiltriCatalog #barraDiRicerca, #sezioneFiltriCatalog select {
	margin-bottom: 10px;
	padding: 5px;
}

#sezioneFiltriCatalog #barraDiRicerca {
	width: 87%; 
}

#sezioneFiltriCatalog select {
	width: 90%
}

#sezioneFiltriCatalog label {
	display: block;
	margin-top: 10px;
	width: 90%;
}

#sezioneFiltriCatalog #prezzoFiltro {
	width: 75%;
	margin-top: 15px;
}

#sezioneFiltriCatalog #prezzoFiltroVisual {
	display: inline-block;
	width: 15%;
	font-weight: bold;
}

#sezioneFiltriCatalog button {
	width: 90%;
	margin-top: 20px;
	padding: 10px 0;
}

/* Sezione contenitore prodotti catalogo */

#presentazioneCatalogo, #nessunRisultato {
	margin-left: 20px;
}

.contenitoreProdottoCatalogo {
	width: 60%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	border-bottom: 2px solid gray;
	position: relative;
	margin-left: 20px;
}

.contenitoreProdottoCatalogo .informazioniProdotto {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	text-align: center;
}

.contenitoreProdottoCatalogo .immagineProdotto {
	padding-left: 20px;
}

@media screen and (max-width: 1200px){
	
	.contenitoreProdottoCatalogo {
		height: 200px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	.contenitoreProdottoCatalogo .informazioniProdotto {
		width:40%;
		padding-right: 10px;
	}
	
	#sezioneFiltriCatalog #prezzoFiltro {
		width: 60%;
	}

	#sezioneFiltriCatalog #prezzoFiltroVisual {
		width: 10%;
	}
}

@media screen and (max-width: 1000px){
	
	.contenitoreProdottoCatalogo {
		width: 90%;
		margin: 5%;
		height: 150px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 125px;
		max-width: 125px;
	}
	
	#sezioneFiltriCatalog {
		position: static;
		width: 90%;
		margin: 5%;
	}
}

/* Sezione Pagina Prodotto */

#schedaProdotto {
	width: 60%;
	margin: 20px;
	overflow: hidden;
}

#schedaProdotto .immagineProdotto {
	float: left;
	width: 30%;
	padding: 20px;
}

#schedaProdotto .informazioniProdotto {
	float: left;
	width: 55%;
	padding: 20px;
	text-align: center;
}

#schedaProdotto #prezzo {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

/* Sezione funzionalità prodotto */

#sezioneFunzionalità {
	clear: both;
	width: 50%;
	margin: 20px;
}

#sezioneFunzionalità button {
	padding: 10px;
	height: 50px;
	min-width: 200px;
	margin-bottom: 20px;
	margin-left: 10px;
	float: left;
}

#sezioneConsulenza {
	padding: 20px 10px;
	margin: 20px;
	width: 58%;
	overflow: hidden;
	clear: both;
}

#sezioneConsulenza textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#sezioneConsulenza button {
	width: 10%;
	height: 40px;
	margin-top: 10px;
	display: block;
}

#sezioneRecensioni {
	width: 95%;
	margin: 20px;
	clear: both;
}

#sezioneRecensioni .recensione {
	margin-top: 30px;
	border: 3px solid gray;
	border-radius: 6px;
	line-height: 1.8em;
}

#sezioneRecensioni .bodyRecensione {
	border: 3px groove gray;
	padding: 10px;
}

#scriviRecensione {
	background-color: white;
	width: 95%;
	padding: 10px;
	margin-top: 30px;
	border: 3px solid gray;
	border-radius: 6px;
}

#scriviRecensione textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#scriviRecensione button {
	width: 10%;
	margin-top: 10px;
	display: block;
}

.recensione {
	background-color: white;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 3px dashed gray;
}

@media screen and (max-width: 1000px) {

	#schedaProdotto {
		width: 90%;
	}

	#schedaProdotto .immagineProdotto, #schedaProdotto .informazioniProdotto {
		float: none;
		width: 95%;
		text-align: center;
	}
	
	#sezioneConsulenza {
		width: 88%;
	}

	#sezioneFunzionalità {
		width: 88%;
	}
	
	#sezioneRecensioni {
		width: 88%;;
	}

}

/* Sezione Carrello */

#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
	width: 50%;
	margin: 30px auto;
}

#sezioneCarrello * {
	margin-left: 20px;
}

#carrelloVuoto h2 {
	padding-left: 20px;
}

#sezioneDestraCarrello {
	margin-right: 20px;
	float: right;
	text-align: right;
}

#tabellaCarrello {
	border-collapse: collapse;
	overflow: scroll;
	font-size: 1.3em;
	width: 70%;
	margin: 0 auto;
}

#tabellaCarrello td, #tabellaCarrello th {
	padding: 10px;
}

#tabellaCarrello .pulsanteOpCarrello {
	height: 30px;
	width: 30px;
}

#tabellaCarrello input[type="text"]{
	height: 30px;
	width: 30px;
	text-align: center;
}

#tabellaCarrello button {
	padding: 8px;
}

#svuotaCarrello, #checkout {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}


@media screen and (max-width: 1700px){
	#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
		width: 70%;
	}
	
}

@media screen and (max-width: 650px){
	#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
		width: 95%;
	}
}

/* Sezione Checkout */

#informazioniUtente, #presentazioneCheckout, #sezioneCheckoutForm {
	width: 40%;
	margin: 20px auto;
}

#sezioneCheckoutForm span {
	font-weight: lighter;
	font-size: smaller;
}


#informazioniFieldset, #inserisciIndirizzo, #inserisciPagamento {
	font-weight: bold;
	border: 3px solid gray;
	background-color: white;
	padding: 20px;
}

#inserisciIndirizzo, #inserisciPagamento {
	line-height: 2em;
}

#inserisciIndirizzo input[type="text"], #inserisciPagamento input[type="text"], 
#inserisciIndirizzo input[type="password"], #inserisciPagamento input[type="password"]{
	width: 50%;
	float: right;
}

#sezioneCheckoutForm button{
	padding: 10px;
	float: right;
	margin: 10px 0 10px 10px;
}

@media screen and (max-width: 1600px){
	#informazioniUtente, #presentazioneCheckout, #sezioneCheckoutForm  {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#informazioniUtente, #presentazioneCheckout, #sezioneCheckoutForm  {
		width: 95%
	}
}

/* Classe riutilizzata nelle sezioni successive */

.presentazione { 
	width: 40%;
	margin: 20px auto;
}

@media screen and (max-width: 1600px){
	.presentazione {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	.presentazione {
		width: 95%
	}
}

/* Sezione Area Utente */

#sezioneUtente {
	width: 40%;
	margin: 20px auto;
	background-color: white;
}

#sezioneUtente p {
	margin-left: 20px;
	font-size: 1.3em;
	padding: 10px;
	font-weight: bold;
}

#presentazioneUtente, #consulenzeLink{
	width: 40%;
	margin: 20px auto;
}

#consulenzeLink {
	width: 50%;
}

#consulenzeLink h2 {
	text-align: center;
}

#consulenzeLink a {
	text-decoration: none;
}

@media screen and (max-width: 1600px){
	#sezioneUtente, #consulenzeLink {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneUtente, #consulenzeLink {
		width: 95%;
	}
}

/* Sezione Lista Consulenze, Lista Ordine e lista dei prodotti desiderati dell'utente */

#sezioneConsulenze, #sezioneOrdini, #listaRigheOrdine, #sezioneWishlist{
	width: 40%;
	margin: 20px auto;
	background-color: white;
}

#sezioneConsulenze .consulenzaDiv, #sezioneOrdini .ordineDiv, #listaRigheOrdine .rigaOrdine, #sezioneWishlist .rigaWishlist{
	border: 2px solid gray;
	background-color: white;
	margin: 20px auto;
	width: 70%;
	padding: 10px;
}

#sezioneConsulenze h2, #sezioneOrdini h2, #sezioneWishlist h2, #sezioneVuotaWishlist h2{
	margin-left: 20px;
}

/* Sezione Consulenza */

#presentazioneConsulenza, #sezioneMessaggiConsulenza {
	width: 70%;
	margin: 20px auto;
}

#sezioneMessaggiConsulenza  {
	width: 70%;
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

#sezioneMessaggiConsulenza #messaggioUtente {
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	width: 40%;
}

#sezioneMessaggiConsulenza #messaggioAdmin {
	float: right;
	padding: 10px;
	margin-bottom: 10px;
	width: 40%;
}

#messaggioUtente textarea, #messaggioAdmin textarea, #rispondiConsulenza textarea{
	resize: none;
	width: 90%;
	height: 250px;
}

#rispondiConsulenza {
	width: 70%;
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

#rispondiConsulenza button {
	display: block;
	padding: 10px;
	margin: 10px 0 10px 10px;
}

@media screen and (max-width: 1600px){
	#sezioneConsulenze, #sezioneMessaggiConsulenza, #rispondiConsulenza, #sezioneOrdini{
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneConsulenze, #sezioneMessaggiConsulenza, #rispondiConsulenza, #sezioneOrdini {
		width: 90%;
	}
}

/* Sezione Pagina Ordine */

#listaRigheOrdine h2{
	float: right;
	margin-right: 20px;
}

@media screen and (max-width: 1600px){
	#listaRigheOrdine{
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#listaRigheOrdine {
		width: 95%;
	}
}

/* Sezione wishlist */

#sezioneVuotaWishlist .contenitore {
	width: 40%;
	margin: 20px auto;
	padding: 20px 0;
}

#sezioneWishlist .contenitore {
	width: 60%;
	margin: 20px auto;
	padding: 10px;
}

#sezioneWishlist .contenitoreProdotto {
	width: 90%;
	min-height: 180px;
	border: 3px solid gray;
	padding: 10px;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
}

#sezioneWishlist .informazioniProdotto {
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 20px;
}

#sezioneWishlist .immagineProdotto {
	float: left;
	width: 40%;
	text-align: center;
}

#sezioneWishlist button {
	height: 40px;
	width: 100px;
}

#sezioneWishlist .immagineProdotto img {
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 1600px){
	#sezioneWishlist, #sezioneVuotaWishlist .contenitore{
		width: 70%
	}
	
	#sezioneWishlist button {
		height: 30px;
		width: 60px;
	}
	
	#sezioneWishlist .contenitoreProdotto {
		height: 200px;
		width: 85%;
	}
	
	#sezioneWishlist .immagineProdotto img {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 1000px){
	#sezioneWishlist, #sezioneVuotaWishlist .contenitore {
		width: 95%;
	}
}

/* Sezione login */

#sezioneLogin .contenitore {
	width: 40%;
	margin: 20px auto;
}

#sezioneLogin span {
	font-weight: lighter;
	font-size: smaller;
}

#sezioneLogin .errore {
	width: 60%;
	margin: 20px auto;
}

#sezioneLogin .contenitore .riga {
	width: 60%;
	margin: 20px auto;
	clear: both;
}

#sezioneLogin h4 {
	float: right;
	padding-bottom: 10px;
}

#sezioneLogin .riga label {
	width: 50%;
	float: left;
	text-align: left;
}

#sezioneLogin input[type="text"], #sezioneLogin input[type="password"]{
	width: 45%;
	float: right;
}

#ricordaEmail label{
	width: auto;
	float: left;
	margin-right: 10px;
}

#sezioneLogin .riga input[type="checkbox"] {
	float: left;
	width: auto;
	margin-top: 5px;
}

#sezioneLogin button {
	width: 75px;
	height: 30px;
	margin-top: 20px;
	float: right;
}


@media screen and (max-width: 1600px){
	#sezioneLogin .contenitore{
		width: 70%
	}
	#sezioneRegister .riga {
		width: 85%
	}
}

@media screen and (max-width: 650px){
	#sezioneLogin .contenitore {
		width: 95%;
	}
}

/* Sezione register */

#sezioneRegister .contenitore {
	width: 40%;
	margin: 20px auto;
}

#sezioneRegister fieldset {
	margin: 10px auto;
	padding-bottom: 20px;
	width: 70%;
}

#sezioneRegister span {
	font-weight: lighter;
	font-size: smaller;
}

#sezioneRegister .riga {
	width: 60%;
	margin: 20px auto;
	clear: both;
}

#sezioneRegister .rigaExtra {
	width: 70%;
	margin: 20px auto;
	clear: both;
}

#sezioneRegister h4 {
	float: right;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

#sezioneRegister .riga label {
	width: 50%;
	float: left;
	text-align: left;
}

#sezioneRegister input[type="text"], #sezioneRegister input[type="password"], #sezioneRegister input[type="tel"]{
	width: 45%;
	float: right;
}

#sezioneRegister button {
	width: 75px;
    height: 35px;
    float: right;
}

@media screen and (max-width: 1600px){
	#sezioneRegister .contenitore{
		width: 70%
	}
	
	#sezioneRegister .riga {
		width: 85%
	}
}

@media screen and (max-width: 650px){
	#sezioneRegister .contenitore {
		width: 95%;
	}
}

/* Sezione Acquisto Terminato ed Errore */
#sezioneTerminato, #sezioneErrore {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#sezioneTerminato h1, #sezioneErrore h1 {
	margin: 20px;
}

@media screen and (max-width: 1600px){
	#sezioneTerminato, #sezioneErrore {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneTerminato, #sezioneErrore {
		width: 95%;
	}
}

/*pagina Admin*/

/*Menu laterale Admin*/

.emptyTable{
	 text-align: center;
	 color: #F57F3C;
}

.MenuGestione{
  list-style-type: none;
  background-color: #FCE7D9;
  float: left;
  width: 200px;
  margin-top: 95px;
  margin-right: 50px;
  margin-bottom: 715px;
  padding-top: 50px;
  padding-left: 0;
}

.selettore a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display:block;
}

.selettore a.active {
  background-color: #F57F3C;
  color: white;
}

.selettore a:hover:not(.active) {
  background-color: #F9B08A;
  color: white;
}

/*dashboard ADMIN*/

.pageAdmin{
	max-width: 90%;
	overflow: hidden;
}

#Ordini, #Utenti {
	margin-bottom: 30px;
	padding:20px;
	overflow-y:scroll;
}

#Ordini p, #Utenti p {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #F57F3C;
}

/*Tabelle*/

.tabellaAdmin{
	width: 95%;
	border-collapse: collapse;
	margin-top: 10px;
}

.tabellaAdmin th{
	background-color: #F57F3C;
	color: white;
	padding: 12px;
	text-align: left;
	font-weight: bold;
}

.tabellaAdmin td {
	padding: 10px;
	background-color:#FCE7D9;
}

.tabellaAdmin tbody tr:hover td {
	background-color: #F57F3C;
}

@media screen and (max-width: 750px) {
	#Ordini table, #Utenti table {
		font-size: 0.7em;
	}
	
	#Utenti td, #Ordini td{
		
		padding: 6px 3px;
		
	}
	#Ordini, #Utenti{
		overflow-x:scroll;
	}
	
	.MenuGestione{
 	 	margin-bottom: 150px;
	}

}

@media screen and (max-width: 650px) {

	
	#Utenti td, #Ordini td{
		display:block;
	}
	
	#Utenti th, #Ordini th{
		display: none;
	}

		#Ordini, #Utenti{
		overflow-x:auto;
	}
	
	.MenuGestione{
 	 	margin-bottom: 150px;
	}
}


/*Pagina gestione Utenti */

#listUtenti, #filtriUtentiAdmin{
	margin-bottom: 30px;
	padding: 20px 20px;	
	padding-bottom: 60px;
}

#listUtenti{
	overflow-y:scroll;
}


#filtriUtentiAdmin{
	margin-right: 50%;
	width: 30%;
}

td#ErrorSpan {
	background-color:#ffffff; 
	padding:20px;
	width: 20%;
}

.bottoneFiltro{
  background-color: #F57F3C;
  border: none;
  color: white;
  padding: 10px 16px;
  position: absolute ;
  margin-left: 40px;
  margin-top: 40px;
}

#dataFrom, #dataTo, #ordinaData{
	border: 2px solid  #F57F3C;
	border-radius: 5px;
	padding: 8px;
	width: 50%;
}

#dataFrom{
	margin-top: 5px;
	margin-left: 40px;
}

#dataTo{
	margin-top: 5px;
	margin-left: 53px;
}

#ordinaData{
	margin-top: 5px;
	margin-left: 9px;
	width: 30%;
}

label {
	font-weight: bold;
	color: #2A2A2A;
	margin-bottom: 5px;
}

.menuTendina{
	border: 2px solid  #F57F3C;
	border-radius: 5px;
	padding: 5px;
	width: 55%;
	font-family: Times New Roman', serif;
}

 select.menuTendina option {
	font-family: 'Times New Roman', serif;
	font-size: 14px;
	font-weight: normal;
}

 select.menuTendina {
	font-family: 'Times New Roman', serif;
	font-size: 14px;
	padding: 5px;
}

.bottoneMod{
  background-color: #F57F3C;
  border: 2px solid #FCE7D9;
  padding: 6px 6px;
  color: white;
}

/*media per utenti e ordini*/
@media screen and (max-width: 1400px) {
	#listUtenti {
      	font-size: 0.9em;
    }
    
    .tabellaAdmin th, 
    .tabellaAdmin td {
        padding: 8px 5px;
    }
    
    .menuTendina {
        width: 100%;
        min-width: 80px;
        font-size: 13px;
    }
    
    #listUtenti input[type="text"] {
        width: 150px;
        font-size: 13px;
    }
    
    #listUtenti button {
        padding: 6px 10px;
        font-size: 12px;
    }
    
	#ordinaData {
        width: 50%;
        min-width: 100px;
        font-size: 14px;
        margin-left:0;
    }
    
    #dataFrom {
    	min-width: 90px;
		margin-left:0;
    }
    
    #dataTo {
   		min-width: 89px;
		margin-left:0;
    }
    
    .bottoneFiltro {
        margin-top: 20px;
        margin-left:0;
        position:relative;
    }
    
     #listUtenti{
    	overflow-y:scroll;
    }
    

}

@media screen and (max-width: 900px) {

    .tabellaAdmin td {
        display:block;
    }
	
	.tabellaAdmin th{
		display:none;
	}

	#listUtenti {
      	overflow-x:auto;
    }
    
    .bottoneFiltro {
    	margin-top:60px;
    	position:relative;
     	float: left;
    }
    
    #ordinaData{
    	float:left;
    }

}

/*Pagina gestione Ordini*/

#listOrdini, #filtriOrdiniAdmin{
	margin-bottom: 30px;
	padding: 20px 20px;	
	padding-bottom: 60px;
}

#listUtenti{
	overflow-y:scroll;
}

#filtriOrdiniAdmin{
	margin-right: 50%;
	width: 30%;
}

/*gestione Consulenze*/

#listaConsulenza, #filtriConsulenzaAdmin{
	margin-bottom: 30px;
	padding: 20px 20px;	
	padding-bottom: 60px;
}

#filtriConsulenzaAdmin{
	margin-right: 50%;
	width: 30%;
}

#ordinaStato{
	margin-top: 5px;
	width: 30%;;
}

@media screen and (max-width: 1400px){
	
	#bottoneConsulenza{
        margin-top: 50px;
        margin-left:10px;
        float: left;
    }
}

/*Gestione Prodotti */

#FormCreazione{
	padding-top:0;
	padding-bottom:50px;
	width: 280px ;
}


#listProdotti, #filtriProdottiAdmin{
	margin-bottom: 20px;
	padding: 20px 20px;	
	padding-bottom: 20px;
}

#listProdotti{
	margin-left: 240px; 
    margin-bottom: 30px;
    padding: 20px 20px;
    padding-bottom: 60px;
    width: auto;
}

#tabellaProdotti tr, th{
	font-size: 0.9em;
}

#tabellaProdotti tr, td{
	font-size: 0.9em;
}

#FormProdotto{
	margin-bottom: 20px;
	width: 50%;
}

#filtriProdottiAdmin{
	padding-top:10px;
	margin-right: 50%;
	width: 80%;
}

#FiltroProd{
	margin-top:0;
	margin-left: 20px; 
	margin-bottom:0;
	
}

#nome, #prezzo, #descr{
	border: 2px solid  #F57F3C;
	border-radius: 5px;
	padding: 5px;
	width: 55%;
	margin-bottom:6px;
}
#barraDiRicerca{
	border: 2px solid  #F57F3C;
	border-radius: 5px;
	padding: 5px;
	width: 20%;
	margin-bottom:6px;
}

#categoria{
	width:58%;
	margin-bottom:6px;	
}

#submitP{
	margin-top:0;
	margin-left: 200px; 
}

#filtroCtg, #filtroOrdina{
	width: 20%;
}

.ImageAdmin{
	width:60px;
	height:60px;
}

.TextAreaAdmin{
	resize: none;
	height:110px;
	width: 150px;
}

td.TastiUtenti{
	background-color: #ffffff;
}


.tabellaAdmin tbody tr:hover td.TastiUtenti {
	background-color: #ffffff;
}


#tabellaProdotti th:nth-child(8),
#tabellaProdotti td:nth-child(8) {
    width: 100px;
    min-width: 80px;
}


#tabellaProdotti th:nth-child(9),
#tabellaProdotti td:nth-child(9) {
    width: 100px;
    min-width: 80px;
}


#tabellaProdotti td:nth-child(8) .menuTendina,
#tabellaProdotti td:nth-child(9) .menuTendina {
    width: 50%;
    min-width: 60px;
}

#tabellaProdotti td:nth-child(5) input[type="text"] {
    width: 80px;
    min-width: 80px;
}

#ErrorSpan{
	position:relative;
}

@media screen and (max-width: 1650px){
		.MenuGestione{
 	 	margin-bottom: 150px;
	}
		#listProdotti{
		margin-left:0;
	}
}

@media screen and (max-width: 1200px) {
	#tabellaProdotti td {
        display:block;
    }
	
	#tabellaProdotti th{
		display:none;
	}

	#listProdotti {
      	overflow-x:auto;
    }
    
    #ordinaData{
    	float:left;
    }
}

@media screen and (max-width: 900px) {
	#listProdotti{
		margin-left:0;
	}
	
	#FiltroProd{
		position:absolute;
    }
}

/*Gestione Categoria*/

#FormCategoria{
	margin-bottom: 20px;
	width: 50%;
}

#listaCtg, #filtriCategorieAdmin{
	margin-bottom: 20px;
	padding: 20px 20px;	
	padding-bottom: 20px;
}

#listaCtg{
	margin-left: 250px; 
    padding: 20px 20px;
    padding-bottom: 60px;
    width: auto;
}

#filtriCategorieAdmin{
	padding-top: 0;
	margin-right: 50%;
	width: 50%;
}

#tendaCtg{
	width:200px;
}

#FiltroCtg {
    margin-left:30px;
    padding: 8px 16px;
}

#creazioneCategoria {
    padding: 5px;
}

#submitC{
	margin-top:0;
	margin-left: 300px;
  	padding: 10px 16px;
}

#listaCtg{
	width:50%;
}

@media screen and (max-width: 1450px){
	
	#listaCtg{
		margin-left:0;
	}
	
}

@media screen and (max-width: 1400px) {
	#tabellaCtg td {
        display:block;
    }
	
	#tabellaCtg th{
		display:none;
	}

	#listaCtg{
      	overflow-x:auto;
    }
    
}











