* {
	font-family: Arial, sans-serif;
}

body {
	font-size: 100%;
	color: #333333;
	margin : 0;
	padding : 0;
}

#headerPrincipale{
	padding: 10px 10px 20px;
	background-color: #2f2f2f;
	min-height: 35px;
}

.logo{
 	display: inline;
 	float: left;
 	padding-top : 2px;
}

.logo a{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-size: 1.8em;
	padding: 5px 12px;
	border : 2px dotted gray;
	border-radius: 10px;
}

.navLinks{
	list-style-type : none;
	float : left;
	padding-right: 10px;
	padding-bottom: 15px;
}

.navLinks li {
	float : left;
	margin-right: 15px;
	
}

.navLinks a {
	text-decoration: none;
	color: white;
}

.navLinks a:hover{
	text-decoration: underline;
	color: black;
	background-color: white;
}

.ricerca {
	padding-top: 9px;
	float: left;
}

.ricerca #barraDiRicerca{
	height: 25px;
	width: 250px;
	border-radius: 5px;
}

.ricerca #pulsanteRicerca{
	height: 31px;
	width: 60px;
	border-radius: 5px;
}

.userArea{
	float : right;
	padding-right: 10px;
	padding-top: 15px;
	color: white;
}

.userArea li {
	float : right;
}

.userArea a {
	text-decoration: none;
	margin-left: 12px;
	color: white;
}

.userArea a:hover{
	text-decoration: underline;
	color: black;
	background-color: white;
}

hr {
	clear : both;
}
