@charset "UTF-8";

/* Sezione header */
#headerPrincipale {
	background-color: #F57F3C;
	font-size: 1.2em;
	height: 95px;
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}

.logo {
	float: left;
	width: 300px;
	padding: 15px;
}

.logo a {
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: 1.8em;
	border: 3px ridge black;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
}

.logo a:hover {
	text-decoration: none;
	color: black;
}

.navLinks {
	float: left;
	list-style-type: none;
	width: 300px;
	margin: 0;
}

.navLinks li {
	float: left;
	margin: 0 5px;
	padding-top: 35px;
}

.navLinks a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

.navLinks a:hover, .userArea a:hover {
	text-decoration: underline;
	background-color: #F9B08A;
	color: white;
}

.ricerca {
	float: left;
	width: 400px;
	padding-top: 30px;
	text-align: left;
	margin-left: 10px;
}

.ricerca #barraDiRicerca {
	height: 30px;
	width: 70%;
}

.ricerca #pulsanteRicerca {
	width: 35px;
	height: 35px;
	padding: 5px;
}

.userArea {
	float: right;
	width: 500px;
	text-align: right;
	padding: 35px 20px 0 0;
}

.userArea li {
	float: left;
	margin: 5px;
}

.userArea a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

hr {
	clear: both;
}

#footerContainer {
	margin-left: 20px;
}

#footerCR {
	text-align: center;
}

@media screen and (max-width: 1650px) {
	.logo{
		display: block;
		float: none;
		clear: both;
		text-align: center;
		width: 100%;
		padding: 5px 0;
	}
	
	#headerPrincipale {
		height: 130px;
	}
	
	.navLinks li, .userArea{
		padding-top: 15px;
	}
	
	.navLinks {
		width: 300px;
	}
	
	.ricerca {
		width: 300px;
		padding-top: 10px;
	}
	
	.userArea {
		width: 500px;
	}
}

@media screen and (max-width: 1250px) {
	.ricerca {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.userArea {
		float: none;
		width: 95%;
		margin: 0 auto;
	}

	.navLinks {
		display: none;
	}
	
}

/* Sezione principale */

* {
	font-family: Arial, sans-serif;
}

body {
	font-size: 100%;
	color: #2A2A2A;
	background-color: #fce7d9;
	margin: 0;
	padding: 0;
}

a {
	color: #2A2A2A;
}

a:hover {
	text-decoration: underline;
	color: gray;
}

/* Sezione immagine prodotti */

.immagineProdotto img{
	max-height: 250px;
	max-width: 100%;
	height: auto;
	width: auto;
	border: 6px dashed #FFA15C;
}

.contenitore {
	border: 4px solid #FFA15C;
	background-color: white;
	border-radius: 10px;
	overflow: scroll;
}

/* Sezione home */
#benvenuto {
	clear: both;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 40%;
	padding: 10px;
}

#bestSellers .contenitoreProdotto {
	width: 100%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	position: relative;
}

#bestSellers .informazioniProdotto {
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	text-align: center;
}

#sezioneCategorie, #bestSellers {
	width: 60%;
	margin-left: 20px;
}

#sezioneCategorie ul {
	list-style-image: url('../images/ChiaveSol.png');
}

#sezioneCategorie ul li {
	line-height: 2em;
	margin-bottom:10px;
}

#sezioneCategorie hr {
	clear: none;
}

#sezioneCategorie a {
	font-size: 1.25em;
	margin: 10px;
}

#prodottiEvidenziati {
	position: absolute;
	right: 0;
	width: 20%;
	text-align: center;
	margin: 0 1% 20px 0;
	padding: 10px;
}

#prodottiEvidenziati .immagineProdotto {
	margin-bottom: 10px;
}

#prodottiEvidenziati h2 {
	padding: 10px;
}

#prodottiEvidenziati a {
	font-size: 1.2em;
	font-weight: bold;
}

#prodottiEvidenziati p {
	font-size: 1.2em;
	line-height: 0.5em;
}

@media screen and (max-width: 1200px){
	#prodottiEvidenziati h2 {
		font-size: 1.2em;
	}
	
	#benvenuto {
		width:60%;
	}
	
	#prodottiEvidenziati .immagineProdotto img {
		max-height: 100px;
		max-width: 100px;
	}
	
	#bestSellers .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	#bestSellers .informazioniProdotto {
		width: 40%;
		padding-right: 10px;
	}
}

@media screen and (max-width: 800px){
	
	#benvenuto {
		width: 90%;
	}
	
	#prodottiEvidenziati {
		display: none;
	}
	
	#bestSellers, #sezioneCategorie {
		width: 90%;
	}
}

/* Sezione catalogo */

#sezioneFiltriCatalog {
	position: fixed;
	top: 20%;
	right: 1%;
	padding: 1%;
	padding-right: 0;
	width: 25%;
	min-width: 200px; /* Per non farla diventare troppo piccola */
}

#sezioneFiltriCatalog #barraDiRicerca, #sezioneFiltriCatalog select {
	margin-bottom: 10px;
	padding: 5px;
}

#sezioneFiltriCatalog #barraDiRicerca {
	width: 87%; 
}

#sezioneFiltriCatalog select {
	width: 90%
}

#sezioneFiltriCatalog label {
	display: block;
	margin-top: 10px;
	width: 90%;
}

#sezioneFiltriCatalog #prezzoFiltro {
	width: 75%;
	margin-top: 15px;
}

#sezioneFiltriCatalog #prezzoFiltroVisual {
	display: inline-block;
	width: 15%;
	font-weight: bold;
}

#sezioneFiltriCatalog button {
	width: 90%;
	margin-top: 20px;
	padding: 10px 0;
}

/* Sezione contenitore prodotti catalogo */

#presentazioneCatalogo, #nessunRisultato {
	margin-left: 20px;
}

.contenitoreProdottoCatalogo {
	width: 60%;
	height: 275px;
	margin-bottom: 50px;
	clear: both;
	border-bottom: 2px solid gray;
	position: relative;
	margin-left: 20px;
}

.contenitoreProdottoCatalogo .informazioniProdotto {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	text-align: center;
}

.contenitoreProdottoCatalogo .immagineProdotto {
	padding-left: 20px;
}

@media screen and (max-width: 1200px){
	
	.contenitoreProdottoCatalogo {
		height: 200px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 150px;
		max-width: 150px;
	}
	
	.contenitoreProdottoCatalogo .informazioniProdotto {
		width:40%;
		padding-right: 10px;
	}
	
	#sezioneFiltriCatalog #prezzoFiltro {
		width: 60%;
	}

	#sezioneFiltriCatalog #prezzoFiltroVisual {
		width: 10%;
	}
}

@media screen and (max-width: 800px){
	
	.contenitoreProdottoCatalogo {
		width: 90%;
		margin: 5%;
		height: 150px;
	}
	
	.contenitoreProdottoCatalogo .immagineProdotto img {
		max-height: 125px;
		max-width: 125px;
	}
	
	#sezioneFiltriCatalog {
		position: static;
		width: 90%;
		margin: 5%;
	}
}

/* Sezione Pagina Prodotto */

#schedaProdotto {
	width: 50%;
	margin: 20px;
	overflow: hidden;
}

#schedaProdotto .immagineProdotto {
	float: left;
	width: 30%;
	padding: 20px;
}

#schedaProdotto .informazioniProdotto {
	float: left;
	width: 60%;
	padding: 20px;
}

/* Sezione funzionalità prodotto */

#sezioneFunzionalità {
	clear: both;
	width: 50%;
	margin: 20px;
}

#sezioneFunzionalità button {
	padding: 10px;
	height: 50px;
	min-width: 200px;
	margin-bottom: 20px;
	margin-left: 10px;
	float: left;
}

#sezioneConsulenza {
	padding: 20px 10px;
	margin: 20px;
	width: 30%;
	overflow: hidden;
	clear: both;
}

#sezioneConsulenza textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#sezioneConsulenza button {
	width: 10%;
	height: 40px;
	margin-top: 10px;
	display: block;
}

#sezioneRecensioni {
	width: 95%;
	margin: 20px;
	clear: both;
}

#sezioneRecensioni .recensione {
	margin-top: 30px;
	border: 3px solid gray;
	border-radius: 6px;
	line-height: 1.8em;
}

#sezioneRecensioni .bodyRecensione {
	border: 3px groove gray;
	padding: 10px;
}

#scriviRecensione {
	background-color: white;
	width: 95%;
	padding: 10px;
	margin-top: 30px;
	border: 3px solid gray;
	border-radius: 6px;
}

#scriviRecensione textarea {
	resize: none;
	width: 90%;
	height: 100px;
}

#scriviRecensione button {
	width: 10%;
	margin-top: 10px;
	display: block;
}

.recensione {
	background-color: white;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 3px dashed gray;
}

@media screen and (max-width: 768px) {

	#schedaProdotto {
		width: 90%;
	}

	#schedaProdotto .immagineProdotto, #schedaProdotto .informazioniProdotto {
		float: none;
		width: 95%;
		text-align: center;
	}
	
	#sezioneConsulenza {
		width: 88%;
	}

	#sezioneFunzionalità {
		width: 88%;
	}
	
	#sezioneRecensioni {
		width: 88%;;
	}

}

/* Sezione Carrello */

#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
	width: 50%;
	margin: 30px auto;
}

#sezioneCarrello * {
	margin-left: 20px;
}

#carrelloVuoto h2 {
	padding-left: 20px;
}

#sezioneDestraCarrello {
	margin-right: 20px;
	float: right;
	text-align: right;
}

#tabellaCarrello {
	border-collapse: collapse;
	overflow: scroll;
	font-size: 1.3em;
	width: 70%;
	margin: 0 auto;
}

#tabellaCarrello td, #tabellaCarrello th {
	padding: 10px;
}

#tabellaCarrello .pulsanteOpCarrello {
	height: 30px;
	width: 30px;
}

#tabellaCarrello input[type="text"]{
	height: 30px;
	width: 30px;
	text-align: center;
}

#tabellaCarrello button {
	padding: 8px;
}

#svuotaCarrello, #checkout {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}


@media screen and (max-width: 1700px){
	#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
		width: 70%;
	}
	
}

@media screen and (max-width: 650px){
	#sezioneCarrello, #carrelloVuoto, #introduzioneCarrello{
		width: 95%;
	}
}

/* Sezione Checkout */

#informazioniUtente, #presentazioneCheckout, #sezioneCheckoutForm {
	width: 40%;
	margin: 20px auto;
}

#sezioneCheckoutForm span {
	font-weight: lighter;
	font-size: smaller;
}


#informazioniFieldset, #inserisciIndirizzo, #inserisciPagamento {
	font-weight: bold;
	border: 3px solid gray;
	background-color: white;
	padding: 20px;
}

#inserisciIndirizzo, #inserisciPagamento {
	line-height: 2em;
}

#inserisciIndirizzo input[type="text"], #inserisciPagamento input[type="text"], 
#inserisciIndirizzo input[type="password"], #inserisciPagamento input[type="password"]{
	width: 50%;
	float: right;
}

#sezioneCheckoutForm button{
	padding: 10px;
	float: right;
	margin: 10px 0 10px 10px;
}

/* Classe riutilizzata nelle sezioni successive */

.presentazione { 
	width: 40%;
	margin: 20px auto;
}

@media screen and (max-width: 1600px){
	.presentazione {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	.presentazione {
		width: 95%
	}
}

/* Sezione Area Utente */

#sezioneUtente {
	width: 40%;
	margin: 20px auto;
	background-color: white;
}

#sezioneUtente p {
	margin-left: 20px;
	font-size: 1.3em;
	padding: 10px;
	font-weight: bold;
}

#presentazioneUtente, #consulenzeLink{
	width: 40%;
	margin: 20px auto;
}

#consulenzeLink {
	width: 50%;
}

#consulenzeLink h2 {
	text-align: center;
}

#consulenzeLink a {
	text-decoration: none;
}

@media screen and (max-width: 1600px){
	#sezioneUtente, #consulenzeLink {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneUtente, #consulenzeLink {
		width: 95%;
	}
}

/* Sezione Lista Consulenze, Lista Ordine e lista dei prodotti desiderati dell'utente */

#sezioneConsulenze, #sezioneOrdini, #listaRigheOrdine, #sezioneWishlist{
	width: 40%;
	margin: 20px auto;
	background-color: white;
}

#sezioneConsulenze .consulenzaDiv, #sezioneOrdini .ordineDiv, #listaRigheOrdine .rigaOrdine, #sezioneWishlist .rigaWishlist{
	border: 2px solid gray;
	background-color: white;
	margin: 20px auto;
	width: 70%;
	padding: 10px;
}

#sezioneConsulenze h2, #sezioneOrdini h2, #sezioneWishlist h2, #sezioneVuotaWishlist h2{
	margin-left: 20px;
}

/* Sezione Consulenza */

#presentazioneConsulenza, #sezioneMessaggiConsulenza {
	width: 70%;
	margin: 20px auto;
}

#sezioneMessaggiConsulenza  {
	width: 70%;
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

#sezioneMessaggiConsulenza #messaggioUtente {
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	width: 40%;
}

#sezioneMessaggiConsulenza #messaggioAdmin {
	float: right;
	padding: 10px;
	margin-bottom: 10px;
	width: 40%;
}

#messaggioUtente textarea, #messaggioAdmin textarea, #rispondiConsulenza textarea{
	resize: none;
	width: 90%;
	height: 250px;
}

#rispondiConsulenza {
	width: 70%;
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}

#rispondiConsulenza button {
	display: block;
	padding: 10px;
	margin: 10px 0 10px 10px;
}

@media screen and (max-width: 1600px){
	#sezioneConsulenze, #sezioneMessaggiConsulenza, #rispondiConsulenza, #sezioneOrdini{
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneConsulenze, #sezioneMessaggiConsulenza, #rispondiConsulenza, #sezioneOrdini {
		width: 90%;
	}
}

/* Sezione Pagina Ordine */

#listaRigheOrdine h2{
	float: right;
	margin-right: 20px;
}

@media screen and (max-width: 1600px){
	#listaRigheOrdine{
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#listaRigheOrdine {
		width: 95%;
	}
}

/* Sezione wishlist */

#sezioneVuotaWishlist .contenitore {
	width: 40%;
	margin: 20px auto;
}

#sezioneWishlist .contenitoreProdotto {
	width: 95%;
	height: 275px;
	border: 3px solid gray;
	padding: 10px;
	margin: 20px auto;
	clear: both;
	font-size: 0.8em;
	position: relative;
}

#sezioneWishlist .informazioniProdotto {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	text-align: center;
}

#sezioneWishlist button {
	height: 40px;
	width: 70px;
}

@media screen and (max-width: 1600px){
	#sezioneWishlist, #sezioneVuotaWishlist .contenitore{
		width: 70%
	}
	
	#sezioneWishlist button {
		height: 30px;
		width: 60px;
		font-size: 1.2em;
	}
	
	#sezioneWishlist .contenitoreProdotto {
		height: 200px;
		width: 85%;
		font-size: 0.6em;
	}
	
	#sezioneWishlist img {
		width: 150px;
		height: 150px;
	}
}

@media screen and (max-width: 650px){
	#sezioneWishlist, #sezioneVuotaWishlist .contenitore {
		width: 95%;
	}
}

/* Sezione login */

#sezioneLogin .contenitore {
	width: 40%;
	margin: 20px auto;
}

#sezioneLogin span {
	font-weight: lighter;
	font-size: smaller;
}

#sezioneLogin .errore {
	width: 60%;
	margin: 20px auto;
}

#sezioneLogin .contenitore .riga {
	width: 60%;
	margin: 20px auto;
	clear: both;
}

#sezioneLogin h4 {
	float: right;
	padding-bottom: 10px;
}

#sezioneLogin .riga label {
	width: 50%;
	float: left;
	text-align: left;
}

#sezioneLogin input[type="text"], #sezioneLogin input[type="password"]{
	width: 45%;
	float: right;
}

#ricordaEmail label{
	width: auto;
	float: left;
	margin-right: 10px;
}

#sezioneLogin .riga input[type="checkbox"] {
	float: left;
	width: auto;
	margin-top: 5px;
}

#sezioneLogin button {
	width: 75px;
	height: 30px;
	margin-top: 20px;
}


@media screen and (max-width: 1600px){
	#sezioneLogin .contenitore{
		width: 70%
	}
	#sezioneRegister .riga {
		width: 85%
	}
}

@media screen and (max-width: 650px){
	#sezioneLogin .contenitore {
		width: 95%;
	}
}

/* Sezione register */

#sezioneRegister .contenitore {
	width: 40%;
	margin: 20px auto;
}

#sezioneRegister fieldset {
	margin: 10px auto;
	padding-bottom: 20px;
	width: 70%;
}

#sezioneRegister span {
	font-weight: lighter;
	font-size: smaller;
}

#sezioneRegister .riga {
	width: 60%;
	margin: 20px auto;
	clear: both;
}

#sezioneRegister .rigaExtra {
	width: 70%;
	margin: 20px auto;
	clear: both;
}

#sezioneRegister h4 {
	float: right;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

#sezioneRegister .riga label {
	width: 50%;
	float: left;
	text-align: left;
}

#sezioneRegister input[type="text"], #sezioneRegister input[type="password"], #sezioneRegister input[type="tel"]{
	width: 45%;
	float: right;
}

#sezioneRegister button {
	width: 75px;
    height: 35px;
    float: right;
}

@media screen and (max-width: 1600px){
	#sezioneRegister .contenitore{
		width: 70%
	}
	
	#sezioneRegister .riga {
		width: 85%
	}
}

@media screen and (max-width: 650px){
	#sezioneRegister .contenitore {
		width: 95%;
	}
}

/* Sezione Acquisto Terminato ed Errore */
#sezioneTerminato, #sezioneErrore {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#sezioneTerminato h1, #sezioneErrore h1 {
	margin: 20px;
}

@media screen and (max-width: 1600px){
	#sezioneTerminato, #sezioneErrore {
		width: 70%
	}
}

@media screen and (max-width: 650px){
	#sezioneTerminato, #sezioneErrore {
		width: 95%;
	}
}
