<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="6.0">
  <display-name>MelodiaCenter</display-name>
  
  <welcome-file-list>
    <welcome-file>/common/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/views/errors/error.jsp</location>
   </error-page>
   
   <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/views/errors/error.jsp</location>
   </error-page>
   
   <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/WEB-INF/views/errors/error.jsp</location>
   </error-page>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/MelodiaCenterDB</res-ref-name>
    <res-type>jakarta.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
</web-app>